@{
    ViewData["Title"] = "Payment Option";
}
<h1>@ViewData["Title"]</h1>

<p>
    First Name: <input type="text" id="first" /><br />
    Last Name: <input type="text" id="last" /> <br />
    User Name: <input type="text" id="user" /><br />
    Street Address:<input type="text" id="street" /> <br />
    City:<input type="text" id="city" /> <br />
    State:<input type="text" id="state" /> <br />
    Zip Code:<input type="text" id="zip" /> <br />
    Phone:<input type="text" id="cell" /> <br />
    E-mail Address:<input type="text" id="email" /> <br />
    Password:<input type="password" id="pass" /> <br />
    <input type="submit" id="enter" value="Submit" /><br />
</p>

