@{
    ViewData["Title"] = "Payment Information";
}
<h1>@ViewData["Title"]</h1>

<p>
    Card Number:<input type="text" id="first" /> <br />
    Expiration Date:<input type="text" id="last" /> <br />
    CVV code:<input type="text" id="street" /> <br />
    Card Holder:<input type="text" id="city" /> <br />
<p/>