@{
    ViewData["Title"] = "Payment Information";
}
<h1>@ViewData["Title"]</h1>

<p>
    Card Number:<input type="text" id="card" /> <br />
    Expiration Date:<input type="text" id="exp" /> <br />
    CVV code:<input type="text" id="cvv" /> <br />
    Card Holder:<input type="text" id="holder" /> <br />
<p/>